{% extends 'base.html.twig' %}

{% block title %}Mitglied - {{ firstname }} {{ lastname }}{% endblock %}

{% block emoji %}🛠️{% endblock %}

{% block body %}
    <div class="content-wrapper profile">
        <form action="#" method="post">
            <div class="profile__head">
                <h1 class="profile__head__title"><span {{ react_component('InlineInput', { 'fieldTitle': 'Vorname', 'fieldName':  'user[firstname]', 'fieldValue': firstname}) }}>Vorname</span> <span {{ react_component('InlineInput', { 'fieldTitle': 'Nachname', 'fieldName':  'user[lastname]', 'fieldValue': lastname}) }}>Nachname</span></h1>
                <div class="profile__head__status">
                    <select name="user[status]" id="user-status">
                        {% for k,v in allStatus %}
                            {% if k == status.id %}
                                <option value="{{ k }}" selected>{{ v }}</option>
                            {% else %}
                                <option value="{{ k }}">{{ v }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="profile__body">
                <div class="row">
                    <div class="col-12 col-lg-6 mb-3" {{ react_component('FormInput', { 'fieldTitle': 'Nickname', 'fieldName':  'user[nickname]', 'fieldValue': nickname}) }}></div>
                    <div class="col-12 col-lg-6 mb-3" {{ react_component('FormInput', { 'fieldTitle': 'E-Mail', 'fieldName':  'user[email]', 'fieldValue': email}) }}></div>
                    <div class="col-12 mb-3" {{ react_component('FormInput', { 'fieldTitle': 'Telefon', 'fieldName':  'user[phone]', 'fieldValue': phone}) }}></div>
                    <div class="col-4 col-lg-2 mb-3" {{ react_component('FormInput', { 'fieldTitle': 'PLZ', 'fieldName':  'user[plz]', 'fieldValue': plz}) }}></div>
                    <div class="col-8 col-lg-4 mb-3" {{ react_component('FormInput', { 'fieldTitle': 'Ort', 'fieldName':  'user[city]', 'fieldValue': city}) }}></div>
                    <div class="col-12 col-lg-6 mb-3" {{ react_component('FormInput', { 'fieldTitle': 'Addresse', 'fieldName':  'user[address]', 'fieldValue': address}) }}></div>
                </div>
            </div>
            <div class="profile__footer">
                <div class="profile__footer__left">
                    <button class="ra-button ra-button--icon ra-button--blurple" type="submit">
                        <i class="fa-solid fa-floppy-disk"></i>
                    </button>
                </div>
                <div class="profile__footer__right">
                    <a href="{{ path('app_admin_overview_members') }}" class="ra-button ra-button--icon ra-button--red">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
