{% extends 'base.html.twig' %}

{% block title %}Status - {{ title }}{% endblock %}

{% block emoji %}🛠️{% endblock %}

{% block body %}
    <div class="content-wrapper profile">
        <form action="#" method="post">
            <div class="profile__head">
                <h1 class="profile__head__title"><span {{ react_component('InlineInput', { 'fieldTitle': 'Statustitel', 'fieldName':  'status[title]', 'fieldValue': title}) }}>Statustitel</span></h1>
            </div>
            <div class="profile__body">
                <div class="row">
                    <div class="col-12 col-lg-6 mb-3" {{ react_component('FormInput', { 'fieldTitle': 'Farbe', 'fieldName':  'status[color]', 'fieldValue': '#' ~ color, 'inputType': 'color'}) }}></div>
                </div>
            </div>
            <div class="profile__footer">
                <div class="profile__footer__left">
                    <button class="ra-button ra-button--icon ra-button--blurple" type="submit">
                        <i class="fa-solid fa-floppy-disk"></i>
                    </button>
                </div>
                <div class="profile__footer__right">
                    <a href="{{ path('app_admin_status_delete', {'statusId': id}) }}" class="ra-button ra-button--icon ra-button--red">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                    <a href="{{ path('app_admin_overview_roles') }}" class="ra-button ra-button--icon ra-button--red">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
